body{
	font-family: "Kite One";
	font-size: 15px;
	background-color: #D0C6B1;
}

h1{
	font-family: "Kite One";
	font-size: 100px;
}

h3{
	font-family: "Kite One";
	font-size: 30px;
}

.jumbotron{
	text-align: center;
	background-color: #333333;
	color: #ff3333;
    padding-bottom: 28px;
    padding-top: 28px;
}

.jumbotron h1{
	font-size: 100px;
	text-align: left;
}

.jumbotron h1 .main{
	font-size: 250px;
	font-family: "Devonshire";
}

.jumbotron p, .jumbotron h3{
	text-align: right;
	color: #ffff99;
}

.jumbotron h3{
	color: #ff3333;
}

.side-menu{
	padding: 25px;
	width: 300px;
	background-color: #ff3333;
	border-right-width: 3px;
	border-right-color: #333333;
	border-right-style: solid;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-bottom-width: 3px;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	border-bottom-right-radius: 0.5em;
}

.player{
	margin: 25px;
	padding: 25px;
	width: 300px;
	background-color: #333333;
	border-width: 1.5px;
	border-color: #ff3333;
	border-style: solid;
	border-radius: 0.5em;
	color: white;
}

.leyenda{
	margin: 25px;
	padding: 25px;
	width: 300px;
	background-color: #ffff99;
	border-width: 1.5px;
	border-color: #ff3333;
	border-style: solid;
	border-radius: 0.5em;
	color: #333333;
}

.player label{
	font-size: 18px;
	font-weight: normal;
}

label{
	padding: 5px;
	font-size: 25px;
}