<!--                 <div class="cajon">
 -->                    <div class="row">
                        <div class="col-md-2 col-md-offset-4 cajon-piece cajon-top cajon-left">
                            <div class="row">
                                <div class="col-md-6 agudo-a hit-control" id="1"><img src="../images/fuerte.png" /></div>
                                <div class="col-md-6 cajon-empty hit-control"><img src="../images/nothing.png" /></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 agudo-b hit-control"><img src="../images/flojo.png" /></div>
                                <div class="col-md-6 cajon-empty hit-control"><img src="../images/nothing.png" /></div>
                            </div>
                        </div>
                        <div class="col-md-2 cajon-piece cajon-top cajon-right">
                            <div class="row">
                                <div class="col-md-6 cajon-empty hit-control"><img src="../images/nothing.png" /></div>
                                <div class="col-md-6 agudo-a hit-control" id="2"><img src="../images/fuerte.png" /></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 cajon-empty hit-control"><img src="../images/nothing.png" /></div>
                                <div class="col-md-6 agudo-b hit-control"><img src="../images/flojo.png" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-4 cajon-piece cajon-left">
                            <div class="grave-a hit-control"><img src="../images/fuerte.png" /></div>
                            <div class="grave-b hit-control"><img src="../images/flojo.png" /></div>
                        </div>
                        <div class="col-md-2 cajon-piece cajon-right">
                            <div class="grave-a hit-control"><img src="../images/fuerte.png" /></div>
                            <div class="grave-b hit-control"><img src="../images/flojo.png" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-4 cajon-piece cajon-bottom cajon-left">
                            </div>
                        <div class="col-md-2 cajon-piece cajon-bottom cajon-right">
                        </div>
                    </div>
                <!-- </div>         -->
