<div class="row">
    <div class="col-md-2">
        <div class="player">
            <div class="row">
                <label>Velocity</label>
                <input type="text" ng-model="velocity" size="4" />
            </div>
            <div class="row">
                <img src="../images/play.png" ng-click="playSong()" />
                <img src="../images/stop.png" />
                <img src="../images/delete.png" ng-click="deleteSong()" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <div class="row">
                <cajon>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    Strong Hit
                    <img src="../images/fuerte.png" />
                </div>
                <div class="col-md-2">
                    Soft Hit
                    <img src="../images/flojo.png" />
                </div>
            </div>
        </div>
    </div>
</div>
