<div class="row">
    <div class="col-md-2">
        <div class="side-menu">
            <label>Velocity</label>
            <input type="text" ng-model="velocity" size="4" />
        </div>
        <div class="side-menu">
            <input type="submit" class="btn btn-sm btn-warning" ng-click="playSong()" value="Play" />
            <input type="submit" class="btn btn-sm btn-danger" ng-click="deleteSong()" value="Delete" />
        </div>
    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    Strong Hit
                    <img src="../images/fuerte.png" />
                </div>
                <div class="col-md-2">
                    Soft Hit
                    <img src="../images/flojo.png" />
                </div>
            </div>
            <cajon>
        </div>
    </div>
</div>
